[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/eosio/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/eosio/appbase
        ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/learnforpractice/fc-private
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/learnforpractice/wabt
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://github.com/eosio/eos-vm
[submodule "eosio-wasm-spec-tests"]
	path = eosio-wasm-spec-tests
	url = https://github.com/EOSIO/eosio-wasm-spec-tests
[submodule "externals/eosio.contracts"]
	path = externals/eosio.contracts
	url = https://github.com/learnforpractice/eosio.contracts
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/EOSIO/magic_get
[submodule "externals/libzmq"]
	path = externals/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = https://github.com/learnforpractice/cppzmq
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/uuosio/boost
[submodule "externals/evmone4eosio"]
	path = externals/evmone4eosio
	url = https://github.com/learnforpractice/evmone4eosio-private
[submodule "externals/micropython"]
	path = externals/micropython
	url = https://github.com/uuosio/micropython
	branch = uuosio
